<div class="card">
    <div class="card-body">
        <h1 class="display-4">What's NoteApp about?</h1>
        <p class="lead">In NotApp you configure a note board where you can organize all your tasks, lists and everything you need to organize.
        Welcome!</p>
    </div>
</div>