<div class="card">
    <div class="card-body">
        <h1 class="display-4">Welcome to NotApp :)</h1>
        <p class="lead">An app to organize your ideas. Create, edit, delete and repeat.</p>
        <a href="/users/signup" class="btn btn-primary btn-lg">Let's start!</a>
    </div>
</div>